{% extends '../base.html' %}
{% block title %}比赛列表{% endblock %}
{% block content %}
<div class="main-content container">
    <div class="position toInWhere">
        <b>当前位置：</b><span>
        <a onclick="history.back(-1)">比赛列表</a>
        </span>&nbsp;&gt;&nbsp;<span>比赛详情</span>
    </div>
    <div class="inner-content">
        <div class="xxzxBox">
            <div class="tab-content bd">
                <div role="tabpanel" class="active tab-pane">
                    <ul class="ul_zxlist" id="column_ul">
                        {% if not kinds %}
                            <div style="text-align:center">
                                <img src="/static/images/no-bs.png">
                            </div>
                        {% else %}
                            {% for  kind in kinds%}
                            <li style="border: 1px solid #ccc;border-radius: 10px;margin:10px;">
                                <a href="{% url 'bs:index' %}?uid={{ request.session.uid }}&kind_id={{kind.kind_id}}">
                                    <span class="start_time"><b>{{ kind.created_at|date:"Y-m" }}</b><i>{{ kind.created_at|date:"d" }}</i></span>
                                    <h1 title="{{ kind.kind_name }}">
                                         {{ kind.kind_name }}
                                    </h1>
                                    <p>赞助商：{{ kind.sponsor_name }}</p>
                                    <p style="padding:5px 0">结束时间：{{ kind.cop_finishat|date:"Y-m-d" }}</p>
                                    <div class="badge" style="float:right;margin-top: -40px;">
                                        <small style="color:yellow;">热度:</small>
                                        <small style="color:yellow">&nbsp;{{ kind.total_partin_num }}</small>
                                    </div>
                                </a>
                            </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}