{% extends '../base.html' %}
{% block title %}联系我们{% endblock %}
{% block content %}
    <div class="row" style="margin-top: 40px;">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <ul class="list-group" style="text-align: center">
                <li class="list-group-item">管理员: 张先生</li>
                <li class="list-group-item">联系电话: 18243088680 </li>
                <li class="list-group-item">微信号码: 18243088680 </li>
                <li class="list-group-item">QQ号码: 369266324</li>
                <li class="list-group-item">联系邮箱: zhang8680@outlook.com</li>
            </ul>
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}