{% extends 'base.html' %}
{% block title %}赞助我们{% endblock %}
{% block content %}
    <div class="row">
        <p style="text-align: center;font-size: 20px">站点由Django1.11.2开发，旨在做学习交流。代码在<a href="https://github.com/john8680/examination.git" target="_blank">github</a>上使用Apache协议开源，您的支持是我进步的最大动力～</p>
    </div>
    <div class="row" style="margin-top: 24px;">
        <div class="col-md-6" style="text-align: center">
            <label style="color: red">您可以选择微信红包打赏我</label><br /><br />
            <img src="../../static/img/wxqrpay1.png" style="height: 240px;width: 240px" />
        </div>
        <div class="col-md-6" style="text-align: center">
            <label style="color: red">或者选择支付宝转账打赏我</label><br /><br />
            <img src="../../static/img/aliqrpay1.png" style="height: 240px;width: 240px" />
        </div>
    </div>
{% endblock %}